In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

## Build a model using training data that will predict the heart attack risk of the test set

In [2]:
# Importing the dataset
training_set = pd.read_csv('train.csv')
test_set = pd.read_csv('test.csv')

,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,33,Male,200,129/90,48,0,1,1,1,1,...,0.138443,184066,30.449815,63,6,7,Argentina,South America,Southern Hemisphere,1
1,56,Female,262,159/105,46,1,0,1,0,0,...,0.369552,211755,34.973685,333,7,8,Nigeria,Africa,Northern Hemisphere,1
2,19,Female,140,161/109,54,0,1,0,0,1,...,8.646334,252203,30.554246,537,2,10,Thailand,Asia,Northern Hemisphere,0
3,50,Female,163,120/62,53,0,1,1,1,1,...,1.107884,121954,35.390265,591,0,9,Spain,Europe,Southern Hemisphere,1
4,89,Female,144,153/110,92,1,0,1,0,1,...,1.337570,180121,39.575483,145,2,5,Germany,Europe,Northern Hemisphere,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7005,29,Female,267,104/105,87,0,0,0,1,1,...,6.806894,236184,27.521246,598,4,5,France,Europe,Northern Hemisphere,0
7006,83,Male,296,134/99,77,1,1,1,1,0,...,3.015648,264390,21.332449,465,4,4,United Kingdom,Europe,Northern Hemisphere,0
7007,54,Male,120,134/84,103,1,1,1,1,1,...,4.825724,198358,37.465577,674,6,9,Colombia,South America,Northern Hemisphere,0
7008,42,Female,147,144/76,81,0,0,1,0,1,...,6.546390,202828,28.605789,623,7,10,Spain,Europe,Southern Hemisphere,1
7009,61,Male,176,172/60,56,0,1,1,0,1,...,6.651328,25823,22.057046,224,7,10,India,Asia,Northern Hemisphere,0

In [ ]:
# Getting rid of the Patient ID column because it will not be used in the model
training_set = training_set.drop('Patient ID', axis=1)

In [3]:
# Formatting the data to be used in the model
gender_values = {"Male": 0, "Female": 1}
training_set['Sex'] = training_set['Sex'].map(gender_values)

In [6]:

# Split the 'blood pressure' column
training_set[['Systolic_BP', 'Diastolic_BP']] = training_set['Blood Pressure'].str.split('/', expand=True)

# Convert the new columns to numeric types
training_set['Systolic_BP'] = pd.to_numeric(training_set['Systolic_BP'])
training_set['Diastolic_BP'] = pd.to_numeric(training_set['Diastolic_BP'])
training_set = training_set.drop('Blood Pressure', axis=1)

KeyError: 'Blood Pressure'

In [11]:
training_set.head()

,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,...,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk,Systolic_BP,Diastolic_BP
0,33,0,200,48,0,1,1,1,1,7.807690,...,30.449815,63,6,7,Argentina,South America,Southern Hemisphere,1,129,90
1,56,1,262,46,1,0,1,0,0,17.297628,...,34.973685,333,7,8,Nigeria,Africa,Northern Hemisphere,1,159,105
2,19,1,140,54,0,1,0,0,1,8.695288,...,30.554246,537,2,10,Thailand,Asia,Northern Hemisphere,0,161,109
3,50,1,163,53,0,1,1,1,1,10.161587,...,35.390265,591,0,9,Spain,Europe,Southern Hemisphere,1,120,62
4,89,1,144,92,1,0,1,0,1,16.436787,...,39.575483,145,2,5,Germany,Europe,Northern Hemisphere,1,153,110

In [7]:
training_set.corr()

ValueError: could not convert string to float: 'Unhealthy'